RewriteEngine On
RewriteRule ^login$ index.php [NC]
RewriteRule ^home$ feed.php [NC]
RewriteRule ^settings$ configuration.php [NC]
RewriteRule ^createaccount$ createaccount.php [NC]
RewriteRule ^logout$ logout.php [NC]
RewriteRule ^recipes$ recipes.php [NC]
RewriteRule ^recipes/create$ createrecipe.php [NC]
RewriteRule ^routines$ routines.php [NC]
RewriteRule ^routines/create$ createroutine.php [NC]
RewriteRule ^daily$ dailyactivities.php [NC]
RewriteRule ^support$ support.php [NC]

RewriteRule ^post/([0-9]+)$ post.php?postID=$1 [NC,L]
RewriteRule ^post/([0-9]+)/likes$ likes.php?postID=$1 [NC,L]
RewriteRule ^routines/([0-9]+)$ routine.php?routineID=$1 [NC,L]
RewriteRule ^routines/([a-zA-Z0-9ñÑ\-_\(\)\$\%\&]+)$ routines.php?user=$1 [NC,L]
RewriteRule ^recipes/([0-9]+)$ recipe.php?recipeID=$1 [NC,L]
RewriteRule ^recipes/([a-zA-Z0-9ñÑ\-_\(\)\$\%\&]+)$ recipes.php?user=$1 [NC,L]
RewriteRule ^([a-zA-Z0-9ñÑ\-_\(\)\$\%\&]+)/followers$ followers.php?user=$1 [NC,L]
RewriteRule ^([a-zA-Z0-9ñÑ\-_\(\)\$\%\&]+)/following$ following.php?user=$1 [NC,L]
RewriteRule ^([a-zA-Z0-9ñÑ\-_\(\)\$\%\&]+)$ profile.php?user=$1 [L]
ErrorDocument 404 /DeltaTrain/error404.php