.follow-button{
    background: var(--color-3);
    color: var(--color-2);
    font-size: 20px;
    float: right;
    padding: 10px 20px;
    border-radius: 100px;
    transition: ease-out 0.2s;
    font-weight: 550;
    border: solid var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-button:hover{
    color: var(--color-1);
    background-color: var(--color-2);
}

.follow-button:active{
    background: var(--color-1);
    color: var(--color-1);
    transform: scale(1.1);
}
 
.user-follow-container{
    width: auto;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    transform: translate(0px, -51px);
    height: 0;
    overflow: visible;
    z-index: 15;
}

.userFollow{
    display: inline-block;
    transform: translate(-10px, 20px);
    font-size: 20px;
    color: var(--color-2);
    text-decoration: none;
    padding: 10px;
}

.userFollow:hover{
    text-decoration: underline;
}

.normal-content{
    background-color: var(--color-9);
}

.follow-header{
    background: url(/DeltaTrain/imgs/banner4k.jpg);
    color: var(--color-2);
    text-align: center;
    padding: 20px;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
    font-size: 40px;
}


.follow-header span{
    font-size: 50px;
}

.follow-list{
    display: block;
    border-bottom: 1px solid var(--color-1);
    padding: 20px;
    transition: 0.2s background ease-out;
    background: var(--color-7);
    border: solid 3px transparent;
}

.follow-list:hover{
    background: var(--color-3);
    border: solid 3px var(--color-5);
    border-radius: 5px;
    transform: scale(1.1);
}

.follow-list-img-container{
    height: 100px;
    width: 100px;
    display: inline-block;
}

.follow-list-img-container img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
}

.follow-list-data{
    width: calc(100% - 120px);
    height: 100%;
    display: inline-block;
    padding: 10px;
    color: var(--color-2);
    text-decoration: none;
}