.follow-button{
    background: var(--color-3);
    color: var(--color-2);
    font-size: 20px;
    float: right;
    padding: 10px 20px;
    border-radius: 100px;
    transition: ease-out 0.2s;
    font-weight: 550;
    border: solid var(--color-5);
}

.follow-button:hover{
    color: var(--color-1);
    background-color: var(--color-2);
}

.follow-button:active{
    background: var(--color-1);
    color: var(--color-1);
    transform: scale(1.1);
}

.user-follow-container{
    width: auto;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
    transform: translate(0px, -51px);
    height: 0;
    overflow: visible;
    z-index: 15;
}

.userFollow{
    display: inline-block;
    transform: translate(-10px, 20px);
    font-size: 20px;
    color: var(--color-2);
    text-decoration: none;
    padding: 10px;
}

.userFollow:hover{
    text-decoration: underline;
}

.follow-header{
    background: var(--color-1);
    color: var(--color-2);
    text-align: center;
    padding: 20px;
    margin: 0;
}