/* Ajustes generales para el contenedor principal */
.main-content{
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  display: flex; /* Utiliza el modelo de caja flexible */
  background: url("/DeltaTrain/imgs/fondo-rojo.svg"); /* Establece una imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el contenedor */
  background-position: center center; /* Alinea la imagen de fondo en el centro */
  transition: ease 0.5s; /* Establece una transición suave de medio segundo */
}



/* Estilos para el contenedor del formulario */
.box{
  margin-top: 50px;
  margin-bottom: 50px; 
  background-color: rgba(0, 0, 0, 0); 
  padding: 10px;
  width: 60%; 
  overflow: hidden; 
}



/* Estilos para el formulario */
.box form{
  background-color: rgba(37, 0, 0, 0.829);
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  border-radius: 10px;
}



/* Estilos para el título del formulario */
.box form h2{
  color: var(--form-colo2);
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 1000;
}



/* Estilos para el contenedor de cada campo de entrada */
.input-container{
  margin-bottom: 70px;
  position: relative;
  justify-content: center;
  display: flex;
  width: 70%;
}



/*Estilos para el los campos del formulario*/
.input-container input, .input-container textarea{
  position: relative;
  background-color: transparent;
  border: none; 
  padding: 15px;
  width: 100%;
  font-size: 20px;
  outline: none;
  z-index: 2;
  color: var(--form-colo2);
  border-radius: 10px;
}



/*Estilos para el placeholder de los inputs*/
.input-container .placeholder-input{
  position: absolute;
  left: 10px;
  bottom: 13px;
  color: var(--form-colo2);
  transition: ease 0.5s;
  font-size: 20px;
  pointer-events: none;
  z-index: 3;
  display: flex;
  align-items: center;
}



/*Estilos para el placeholder de los inputs cuando se esten rellenando o tengan contenido*/
.input-container input:focus ~ .placeholder-input,
.input-container input:valid ~ .placeholder-input,
.input-container textarea:focus ~ .placeholder-input,
.input-container textarea:valid ~ .placeholder-input{
  transform: translateY(-55px);
  font-size: 17px;
  color: var(--form-colo3);
}



/*Estilos para la linea inferior de los inputs*/
.input-container i{
  width: 100%;
  height: 2px;
  background-color: var(--form-colo2);
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  transition: ease 0.5s;
}



/*Estilos para la linea inferior de los inputs cuando se este rellendo o tengan contenido dentro*/
.input-container input:focus ~ i,
.input-container input:valid ~ i,
.input-container textarea:focus ~ i,
.input-container textarea:valid ~ i{
  height: 50px;
  border-radius: 10px;
  background-color: var(--form-colo3);
}



/*Estilos del contenedor de los links para redireccionas debajo del formulario*/
.links-container{
  text-align: center;
  margin-bottom: 10px;
}



/*Estilos de los links que esten dentro del contenedor*/
.links-container a{
  color: var(--form-colo4);
  font-size: 15px;
}



.links-container a:hover{
  color: var(--form-colo2);
}



/*Estilos para el mensaje de error mostrado debajo del input*/
.error-input.message{
  color: var(--form-colo4);
  position: absolute;
  bottom: -30px;
  left: 5px;
  font-weight: 500;
}



/*Estilos para la linea inferior del input cuando no sea valido*/
.input-container i.error-input{
  background-color: var(--form-colo4) !important;
  box-shadow: var(--form-colo4) 0px 0px 15px 3px;
}



/*Estilos para el placeholder del input no valido*/
.input-container .error-input.placeholder-input{
  color: var(--form-colo4) !important;
}



.input-container input.error-input{
  color: white;
}



/*Estilos del boton submit*/
.btn-submit {
  background-color: var(--form-colo4);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
}



.btn-submit .icon{
  font-size: 20px;
  pointer-events: none;
}



.btn-submit:hover {
  box-shadow: var(--form-colo4) 0px 0px 15px 3px;
  transform: scale(1.1);
}





@media screen and (max-width: 800px) {
  .box{
      width: 100%;
      height: 100%;
  }
}