
/* Estilos para el contenedor del formulario */
.box{
  width: 60%; 
  overflow: hidden; 
}



/* Estilos para el formulario */
.box form{
  background-color: var(--color-6);
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  border-radius: 10px;
  gap: 70px;
}



/* Estilos para el título del formulario */
.box form h2{
  color: var(--color-5);
  text-align: center;
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 1000;
}



/* Estilos para el contenedor de cada campo de entrada */
.input-container{
  position: relative;
  justify-content: center;
  display: flex;
  width: 70%;
}



/*Estilos para el los campos del formulario*/
.input-container input, .input-container textarea{
  position: relative;
  background-color: transparent;
  border: none; 
  padding: 15px;
  width: 100%;
  font-size: 20px;
  outline: none;
  z-index: 2;
  color: var(--color-5);
  border-radius: 10px;
}



/*Estilos para el placeholder de los inputs*/
.input-container .placeholder-input{
  position: absolute;
  left: 10px;
  bottom: 13px;
  color: var(--color-5);
  transition: ease 0.5s;
  font-size: 20px;
  pointer-events: none;
  z-index: 3;
  display: flex;
  align-items: center;
}

.input-container #birth{
  color: transparent;
  transition: ease 0.3s;
}



/*Estilos para el placeholder de los inputs cuando se esten rellenando o tengan contenido*/
.input-container input:focus ~ .placeholder-input,
.input-container input:valid ~ .placeholder-input{
  transform: translateY(-55px);
  font-size: 17px;
  color: var(--color-5);
}


.input-container textarea:focus ~ .placeholder-input,
.input-container textarea:valid ~ .placeholder-input{
  transform: translateY(-195px);
  font-size: 17px;
  color: var(--color-5);
}

.input-container #birth:focus,
.input-container #birth:valid{
  color: var(--color-5);
}

/*Estilos para la linea inferior de los inputs*/
.input-container i{
  width: 100%;
  height: 2px;
  background-color: var(--color-1);
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
  transition: ease 0.5s;
}



/*Estilos para la linea inferior de los inputs cuando se este rellendo o tengan contenido dentro*/
.input-container input:focus ~ i,
.input-container input:valid ~ i{
  height: 50px;
  border-radius: 10px;
  background-color: var(--color-1);
}

.input-container textarea:focus ~ i,
.input-container textarea:valid ~ i{
  height: 200px;
  border-radius: 10px;
  background-color: var(--color-1);
}

.input-container.image{
  background-color: var(--color-7);
  width: 100%;
  color: var(--color-5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 5px;
  flex-direction: column;
  gap: 30px;
}

.input-container.image input{
  display: none;
}

.input-container.image div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.input-container.image div .icon{
  font-size: 30px;
}

.input-container.image .vew-image-container{
  display: none;
}

.input-container.image .vew-image-container.active{
  width: 30%;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: solid 5px var(--color-3);
}

.input-container.image .vew-image-container.active.banner{
  width: 100%;
  border-radius: 0px;
  max-height: 200px;
}



.input-container.image .vew-image-container img{
  width: 100%;
  aspect-ratio: 1/1;
}

.input-container.image .vew-image-container.active.banner img{
  width: 100%;
  aspect-ratio: auto;
}

/*Estilos del contenedor de los links para redireccionas debajo del formulario*/
.links-container{
  text-align: center;
  margin-bottom: 10px;
}



/*Estilos de los links que esten dentro del contenedor*/
.links-container a{
  color: var(--color-5);
  font-size: 15px;
}



.links-container a:hover{
  color: var(--color-2);
}



/*Estilos para el mensaje de error mostrado debajo del input*/
.error-input.message{
  color: var(--color-5);
  position: absolute;
  bottom: -30px;
  left: 5px;
  font-weight: 500;
}



/*Estilos para la linea inferior del input cuando no sea valido*/
.input-container i.error-input{
  background-color: var(--color-1) !important;
  box-shadow: var(--color-1) 0px 0px 15px 3px;
}



/*Estilos para el placeholder del input no valido*/
.input-container .error-input.placeholder-input{
  color: var(--color-5) !important;
}



.input-container input.error-input{
  color: var(--color-2);
}



/*Estilos del boton submit*/
.btn-submit {
  background-color: var(--color-1);
  color: var(--color-2);
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
}



.btn-submit .icon{
  font-size: 20px;
  pointer-events: none;
}



.btn-submit:hover {
  box-shadow: var(--color-1) 0px 0px 15px 3px;
  transform: scale(1.1);
  border: solid var(--color-1) 2px;
}





@media screen and (max-width: 800px) {
  .box{
      width: 100%;
      height: 100%;
  }
  .input-container{
    width: 90%;
  }
}





.input-container textarea{
  resize: none;
  padding-top: 10px;
  height: 200px;
  overflow: hidden;
}