@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');



:root{
    --color-1: #c70000;
    --color-2: #fff;
    --color-3: #000000;
    --color-4: #141414;
    --color-5: #c6b9d4;
    --color-6: #950011b2;
    --color-7: #000000b2;
    --color-8: #c6b9d4b2;
    --color-9: #121417de;
  }


  
*{
    font-family: 'Poppins', sans-serif;
}




.main-content{
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    display: flex; /* Utiliza el modelo de caja flexible */
    background: var(--color-3); /* Establece una imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el contenedor */
    background-position: center center; /* Alinea la imagen de fondo en el centro */
    transition: ease 0.5s; /* Establece una transición suave de medio segundo */
    /* padding-right: 100px; */
}



  /*Estilos del contenido principal de la pagina*/
  .main-content{
    position: absolute;
    left: 100px;
    width: calc(100% - 90px);
    min-height: 100%;
  }



  /* Establece el ancho de la barra de desplazamiento */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Establece el color de la "manija" de la barra de desplazamiento */
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-6);
    border-radius: 5px;
  }
  
  /* Establece el color de fondo de la barra de desplazamiento */
  ::-webkit-scrollbar-track {
    background-color: var(--color-3);
  }

  
  


h1, h2, h3{
    font-weight: bold !important;
}






.letras-chiquitas{
    font-size: 0.7em;
}






.a-button{
    width: fit-content;
    display: block;
    text-decoration-line: none;
    margin-left: auto;
    margin-right: auto;
}






#RealUserIcon{
    background-size: cover;
    background-position: center;
    background-image: url("/DeltaTrain/imgs/Default-PFP.jpg");
}






.footer{
    height: 200px;
    background-color: green;
}





.img-extended-container{
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  padding-left: 150px;
}



.img-extended-container .close-btn{
  background-color: var(--color-3);
  color: var(--color-2);
  border-radius: 100%;
  border: solid var(--color-2) 2px;
  aspect-ratio: 1/1;
  width: 50px;
  z-index: 99999;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 100px 100px 0 0;
  cursor: pointer;
  transition: ease 0.2s;
}



.img-extended-container .close-btn:hover{
  background-color: var(--color-6);
}



.img-extended-container .close-btn:active{
  background-color: var(--color-1);
}




.normal-content{
  border-radius: 5px;
  overflow: hidden;
  max-width: 80%;
  width: 800px;
  background-color: var(--color-4);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 500px){
  .normal-content{
    max-width: 100%;
    width: 100%;
    border-radius: 0px;
    margin-top: 0px;
    height: 100%;
  }

  .img-extended-container{
    padding-left: 50px;
  }
}

.img-extended-container img{
  object-fit: contain;
  max-width: 80%;
  max-height: 80%;
}

html{
  overflow-x: hidden;
}

.light{
  opacity: 0.5;
}

.mouse-hover{
  cursor: pointer;
}

.mouse-hover:active{
  transform: scale(0.9) !important;
}

.textarea-visualizer{
  width: 100%;
  height: fit-content;
  background: none;
  color: var(--color-2);
  
}