/* Estilos del contenedor principal del perfil */
.profile-body{
    border-radius: 5px;
    overflow: hidden;
    max-width: 80%;
    width: 800px;
    background-color: var(--color-6);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* Estilos del banner */
.profile-banner-container{
    background-color: var(--color-3);
}



.profile-banner-container img{
    max-width: 100%;
    min-width: 100%;
    background-image: url("/DeltaTrain/imgs/banner4k.jpg");
    background-size: cover;
    background-position: center;
}



.profile-user-img-container{
    display: flex;
    background-color: transparent;
    width: 150px;
    transform: translate(40px, -80px);

}



/* Estilos de la foto de perfil */
.profile-user-img-container img{
    border-radius: 100%;
    max-width: 100%;
    border: solid 5px var(--color-3);
    background-image: url("/DeltaTrain/imgs/defaultpfp2.jpg");
    background-size: cover;
    background-position: center;
}



.user-dates-container{
    font-size: 25px;
    padding-left: 40px;
    transform: translate(0px, -50px);
    color: var(--color-2);
}


.user-dates-container .username{
    font-weight: 1000;
    font-size: 35px;
    max-width: calc(100% - 165px);
}



.user-dates-container .user-description{
    font-size: 20px;
    color: var(--color-5);
}



/* Estilos de la barra de navegación del perfil */
.profile-sections-container{
    overflow: auto;
    display: flex;
    background-color: var(--color-9);
    justify-content: center;
    align-items: center;
}


/* Estilos de los redireccionadores del perfil */
.profile-section{
    padding: 20px 50px;
    width: 25%;
}



.profile-section a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: var(--color-5);
    transition: ease 0.3s;
    font-weight: 550;
}



.profile-section i{
    width: 100%;
    content: '';
    height: 2px;
    background-color: var(--color-5);
    pointer-events: none;
    transition: ease 0.3s;
}



.profile-section:hover{
    background-color: var(--color-3);
}



.profile-section:hover i{
    background-color: var(--color-1);
    box-shadow: var(--color-1) 0px 0px 15px 2px;
    height: 4px;
}



.profile-section:hover a{
    color: var(--color-1);
    
}



/* Estilos de la sección de posts*/
.post-container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    color: aliceblue;
}



.post-container .post-div-1{
    margin: 0px 30px;
}



.post-user-img-container{
    width: 50px;
}



.post-user-img-container img{
    max-width: 100%;
    border-radius: 100%;
}



.post-head-container{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}



.post-head-container .username-post{
    font-weight: 1000;
}


.post-head-container .date-post{
    margin-left: 10px;
    color:rgb(194, 193, 193);
}



.post-head-container .more-post{
    border-radius: 100%;
    padding: 5px;
    transition: ease 0.2s;
}



.post-head-container .more-post:hover{
    background-color: rgba(0, 0, 0, 0.577);
    cursor: pointer;
}



.interactions-post-container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}



.interactions-post-container span{
    border-radius: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-right: 40px;
    transition: ease 0.2s;

}



.interactions-post-container span:hover{
    background-color: rgba(0, 0, 0, 0.577);
    cursor: pointer;
}



@media screen and (max-width: 800px) {
    .main-content{
        height: 100%;
    }

    .profile-body{
        max-width: 100%;
        width: 100%;
        border-radius: 0px;
        margin-top: 0px;
        height: 100%;
    }

    
    /* Estilos de la barra de navegación del perfil */
    .profile-sections-container{
        overflow: auto;
        display: flex;
        justify-content: left;
    }


    /* Estilos de los redireccionadores del perfil */
    .profile-section{
        padding: 20px 50px;
        width: 200px;
    }

    /* Estilos del contenedor de la foto del ferfil */
    .profile-user-img-container{
        display: flex;
        background-color: transparent;
        width: 100px;
        transform: translate(20px, -60px);
    }

    .user-dates-container{
        padding-left: 20px;
        transform: translate(0px, -50px);
    }

    .post-container .post-div-1{
        margin: 0px 15px;
    }

    .post-user-img-container{
        width: 40px;
    }
    

  }