.exercises-container-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
}


.exercise-container{
  position: relative;
}


.exercise-container .delete-exercise-btn{
  background-color: var(--color-7);
  color: var(--color-6);
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--color-6) 3px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
  transition: ease 0.2s;
}


.exercise-container .delete-exercise-btn:hover{
  color: var(--color-1);
  border: solid var(--color-1) 3px;
  transform: scale(1.1);
}

.exercise-container .delete-exercise-btn:active{
  background-color: var(--color-1);
  color: var(--color-2);
  border: solid var(--color-2) 3px;
  transform: scale(1.2);

}

.exercise-container h3{
  margin-top: 30px;
}

.exercise-container .exercise-name{
  width: 70%;
  max-width: 90%;
  background-color: var(--color-7);
  border: solid var(--color-6);
  border-radius: 5px;
  color: var(--color-2);
  padding: 5px 10px;
  outline: none;
  position: relative;
  font-size: 25px;
}

.exercise-container .exercise-name + label{
  color: var(--color-6);
  position: absolute;
  transition: ease 0.3s;
  pointer-events: none;
}

.exercise-container .exercise-name:valid + label,
.exercise-container .exercise-name:focus + label{
  transform: translateY(-48px);
  font-size: 25px;
  color: var(--color-6);
}



.exercise-container .exercise-name:focus{
  background-color: var(--color-6);
}

.exercise-notes{
  width: 100%;
  background-color: var(--color-7);
  border: solid var(--color-6);
  border-radius: 5px;
  color: var(--color-2);
  padding: 5px 10px;
  outline: none;
  position: relative;
  font-size: 15px;
  position: relative;
  margin-top: 20px;
}

.notes-exercise-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-notes + label{
  transition: ease 0.3s;
  font-size: 20px;
  pointer-events: none;
}

.exercise-notes:valid + label,
.exercise-notes:focus + label{
  transform: translateY(-100px);
}

.exercise-notes:focus{
  background-color: var(--color-6);
}

.exercise-notes + label{
  position: absolute;

}


.exercise-container table {
    background-color: transparent;
    text-align: center;
    width: 60%;
    max-width: 90%;
    margin-top: 20px;
    border-spacing: 0px;
  }
  
  .exercise-container table th {
    background-color: var(--color-9);
    padding: 15px;
    border: solid var(--color-3) 2px;
  }
  
  .exercise-container table td {
    background-color: var(--color-6);
    border: solid var(--color-3) 2px;
  }

  .exercise-container table td:hover{
    background-color: var(--color-9);
  }

  .exercise-container table tr td:last-child{
    background-color: var(--color-9);
    aspect-ratio: 1/1;
    width: 50px;
    transition: ease 0.2s;
  }

  .exercise-container table tr td:last-child button{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    color: var(--color-5);
    transition: ease 0.2s;
  }

  .exercise-container table tr td:last-child button:hover{
    transform: scale(1.3);
    color: var(--color-1);
    box-sizing: border-box;
  }

  .exercise-container table tr td:last-child:hover{
    background-color: var(--color-2);
  }

  .exercise-container table tr input{
    width: 100%;
    text-align: center;
    background-color: transparent;
    color: var(--color-2);
    border: none;
    outline: none;
    padding: 10px 5px;
  }

  .exercise-container table tr input:focus{
    background-color: var(--color-3);
    border: solid var(--color-2) 3px;
  }
  
  .exercise-container table .set-note {
    min-width: 200px;
  }

  .exercise-container .add-set{
    width: 60%;
    max-width: 90%;
    padding: 10px 0;
    background-color: var(--color-9);
    border: solid var(--color-3);
    color: var(--color-2);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: ease 0.4s;
  }


  .exercise-container .add-set .icon{
    transition: ease 0.2s;
  }

  .exercise-container .add-set:hover .icon{
    color: var(--color-1);
    transform: scale(1.3);
  }

  .exercise-container .add-set:hover{
    background-color: var(--color-2);
  }

  .exercise-container .add-set:active{
    background-color: var(--color-6);
    color: var(--color-2);
    transform: scale(1.1);
  }


  .add-exercise-container, 
  .save-rutine-container{
    background-color: var(--color-7);
    color: var(--color-5);
    border-radius: 5px;
    border: solid 3px var(--color-5);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 50%;
    font-weight: 600;
    transition: ease 0.2s;
  }

  .add-exercise-container .icon,
  .save-rutine-container .icon{
    font-size: 40px;
  }

  .add-exercise-container:hover,
  .save-rutine-container:hover{
    background-color: var(--color-2);
    color: var(--color-1);
    border: solid var(--color-3) 3px;
    transform: scale(1.05);
  }

  .add-exercise-container:active,
  .save-rutine-container:active{
    background-color: var(--color-6);
    transform: scale(1.2);
    color: var(--color-2);
  }


  .save-rutine-container{
    width: 70%;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 800px) {
    .exercise-container .exercise-name + label{
      font-size: 25px;
    }
  }