*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root{
    
    --slbar-color1: #050505;
    --slbar-color2: #000000;
    --slbar-color3: #050505;
    --slbar-color4: #fff;
    --slbar-color5: #f00000;
    --slbar-color6: #220000;
}


body{
    position: relative;
    font-family: 'Poppins', sans-serif;
}



.wrapper{
    position: relative;
    left: 85px;
    width: calc(100% - 85px);
    background-color: black;
    
    
    align-items: center;
    display: flex;
    justify-content: center;








    
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background: url(../imgs/fondo-rojo.svg);
    align-items: center;
    
    justify-content: center;

    min-height: 100vh;


}








.sidebar{
    
    width: 85px;
    background-color: var(--slbar-color2);
    height: 100vh;
    position: fixed;
}

.sidebar.active{
    
    width: 240px;
    
}





.btn-togle-content{
    height: 67px;
    background-color: var(--slbar-color1);
    
}




.btn-togle-content .btn-toggle{
    position: absolute;
    color: var(--slbar-color4);
    right: 17px;
    top: 7px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.btn-togle-content .btn-toggle:hover{
    color: var(--slbar-color5);
    transform: scale(1.1);
}







.sidebar.active .logo{
    justify-content: center;
    margin-bottom: 30px;
}

.sidebar.active .logo img{
   
    
    height: 100px;
    transition: ease 0.3s;
    
    
}

.sidebar.active .logo img:hover{
   
   transform: scale(1.3);
   cursor: pointer; 
    
}




.sidebar ul{

    padding: 20px;
    
}



.sidebar ul li{
    list-style: none;
}



.sidebar ul li a{
    color: var(--slbar-color4);
    text-decoration: none;
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 10px;

}






.sidebar ul a:hover{
    background-color: var(--slbar-color6);
    color: var(--slbar-color5);
    border-radius: 5px;
}


.sidebar ul li a i{
    padding-right: 25px;
    font-size: 24px;
}



.sidebar ul li a span{
    display: none;
}


.sidebar.active ul li a span{
    display: block;
}



.nav-2{
    
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--slbar-color3);
    
    
    
}





.nav-2 span, .nav-2 i{
    color: var(--slbar-color4);
}






.wrapper.valid{
    filter: hue-rotate(90deg); /* Cambia el tono de la imagen en 90 grados, lo que la convierte en verde */
}

























